[submodule "react-native-nmi-bridge"]
	path = react-native-nmi-bridge
	url = https://github.com/strues/react-native-nmi-bridge.git
[submodule "EncryptCard"]
	path = EncryptCard
	url = git@github.com:Lucra-Sports/EncryptCard.git
	branch = main
